* {
    box-sizing: border-box;
}

header,
footer {
    border: 2px solid black;
    height: 100px;
    clear: both;
}

section {
    border: 2px solid black;
    height: 400px;
    width: 20%;
    float: left;
}

article {
    border: 2px solid black;
    height: 400px;
    width: 40%;
    float: left;
}